<% content_for :css do %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Alegreya+Sans+SC", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Varela+Round", media: "all", "data-turbolinks-track" => true %>
<% end %>

<nav>
	<li><a href="#">Início</a></li>
	<li><a href="#equipe">Equipe</a></li>
	<li><%= link_to "Apagar todos inscritos", destroy_all_participants_path %></li>
</nav>

<header>
	<h1>WORKSHOP - WEB</h1>
	<p><button id="botao-inscricao" class="btn_inscricao_top">Inscrição Gratuita!</button></p>	
	<% if  flash[:notice] %>
		<p class="notice">
			<%= flash[:notice] %>
		</p>
	<% end %>
</header>

<div class="content">

<article>
	<section id="chamada" class="middle-content">
		<h2>O que vai ter por lá?</h2>
		<p>
			Neste workshop nós mostraremos como ter <strong>seu próprio site online</strong>!
		</p>

		<p>
			Para isso, você aprenderá a criar a sua própria página e vai não só disponibiliza-la em um servidor, como também usará uma linguagem de programação(PHP) para gerar a página dinâmicamente.
		</p>

		<p class="related-content-below">
			Ao final, você terá:
		</p>
		<ul>
			<li>Um site simples disponível em uma URL que você poderá passar para seus amigos</li>
			<li>Uma base de como funciona o desenvolvimento na web</li>
			<li>Um roteiro de estudo para você avançar ainda mais!</li>
		</ul>
	</section>
</article>

<div class="divider"></div>

<article>
	<section id="temprerequisitos" class="middle-content">
		<h2>Tem algum pré-requisito?</h2>
		<p>
			É essencial que você já tenha programado em alguma linguagem de programação, porém não é necessário saber PHP. Se você está em algum curso de graduação, a primeira disciplina sobre programação é suficiente.
		</p>
	</section>
</article>

<div class="divider"></div>

<article>
	<section id="onde" class="middle-content">
		<h2>Quando e Onde?</h2>
		<p>
			O evento ocorrerá dia <strong>19 de março (Quarta) das 8h às 12h</strong>, no 999o andar do prédio do Tecgraf, que fica no estacionamento da PUC-Rio (atrás das obras do metrô).
		</p>
		<p>
			<strong>Endereço da PUC-Rio</strong>: Rua Marquês de São Vicente, 225, Gávea - Rio de Janeiro, RJ - Brasil - 22451-900 
		</p>
	</section>
</article>

</div>

<div class="divider"></div>

<article>
<section id="equipe" class="equipe middle-content">
	<h2>A Equipe</h2>
	<ul>
		<li>
			<div class="img_membro">
				<img src="https://avatars.githubusercontent.com/u/1771461">
			</div>
			<div class="desc_membro">
				<h3>Alexandre Werneck</h3>
				<p>Desenvolvedor na PUC-RIO!</p>
			</div>
		</li>	
		<li>			
			<div class="img_membro">
				<img src="https://avatars.githubusercontent.com/u/127893">
			</div>
			<div class="desc_membro">
				<h3>Hugo Roque</h3>
				<p>Desenvolvedor na PUC-RIO!</p>
			</div>
		</li>	
		<li>
			<div class="img_membro">
				<img src="https://avatars.githubusercontent.com/u/5368452">
			</div>
			<div class="desc_membro">
				<h3>Robert Corrêa</h3>
				<p>Desenvolvedor na PUC-RIO!</p>
			</div>
		</li>	
	</ul>	
</section>
</article>

<div class="divider"></div>

<article>
	<section id="inscricao">
		<div class="control_line">
			<h2>Inscrição</h2>
		</div>
    <p id="inscription_error" class="error_msg">
      <%= @error_msg %>
    </p>
		<%= form_for(@participant) do |f| %>
			<div class="field control_line">
				<%= f.label :email %>
				<%= f.text_field :email, class: "inp", placeholder: "Informe seu e-mail..." %>
			</div>
			<div class="actions control_line">
				<button class="btn">Confirmar</button>
			</div>
		<% end %>
	</section>
</article>

</div>

<footer>
	Este site foi desenvolvido por nós! <a href="https://github.com/xanwerneck">Alexandre Werneck</a> & <a href="https://github.com/HugoLnx/">Hugo Roque</a> & <a href="https://github.com/robertcorreas/"> Robert Corrêa </a>
</footer>
