<% content_for :css do %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Alegreya+Sans+SC", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Varela+Round", media: "all", "data-turbolinks-track" => true %>
<% end %>

<nav>
	<li><a href="#">Início</a></li>
	<li><a href="#equipe">Equipe</a></li>
</nav>

<header>
	<h1>Workshop Web4Beginners</h1>
	<p><button id="botao-inscricao" class="btn_inscricao_top">Inscrição Gratuita!</button></p>	
	<% if  flash[:notice] %>
		<p class="notice">
			<%= flash[:notice] %>
		</p>
	<% end %>
</header>

<div class="content">
<article>
	<section id="chamada" class="middle-content">
		<h2>O que vai ter por lá?</h2>
		<p>
			Neste workshop vamos mostrar como construir <strong>seu próprio site</strong>!
		</p>

		<p>
			Para isso, além de criar sua página você vai aprender como disponibilizá-la em um servidor web, tornando-a online. Usará também uma linguagem de programação (PHP) para gerar conteúdos dinâmicos neste site.
		</p>

		<p class="related-content-below">
			Com isso, no final, esperamos que você tenha:
		</p>
		<ul>
			<li>Um site simples, afinal será seu primeiro, disponível em uma URL que todos os seus amigos poderão visualizar</li>
			<li>Uma compreensão, ainda que básica, de como funciona o desenvolvimento na Web</li>
			<li>A melhor parte, um roteiro de estudo para não parar mais!</li>
		</ul>
	</section>
</article>

<div class="divider"></div>

<article>
	<section id="temprerequisitos" class="middle-content">
		<h2>Tem algum pré-requisito?</h2>
		<p>
			Muito pouco, ou quase nada, se você estiver em um curso de graduação e ter cursado a primeira disciplina sobre programação já é suficiente. Ah, não precisa saber nada de PHP também!	
		</p>
	</section>
</article>

<div class="divider"></div>

<article>
	<section id="onde" class="middle-content">
		<h2>Quando e Onde?</h2>
		<p>
			O evento ocorrerá dia <strong>19 de março (Quarta) das 8h às 12h</strong>, no 4o andar do prédio do Tecgraf, que fica no estacionamento da PUC-Rio (atrás das obras do metrô).
		</p>
		<p>
			<strong>Endereço da PUC-Rio</strong>: Rua Marquês de São Vicente, 225, Gávea - Rio de Janeiro, RJ - Brasil - 22451-900 
		</p>
	</section>
</article>

<div class="divider"></div>

<article>
<section id="equipe" class="equipe middle-content">
	<h2>A Equipe</h2>
	<ul>
		<li>
			<div class="img_membro">
				<img src="https://avatars.githubusercontent.com/u/1771461">
			</div>
			<div class="desc_membro">
				<h3>Alexandre Werneck</h3>
				<p>Desenvolvedor na PUC-RIO!</p>
			</div>
		</li>	
		<li>			
			<div class="img_membro">
				<img src="https://avatars.githubusercontent.com/u/127893">
			</div>
			<div class="desc_membro">
				<h3>Hugo Roque</h3>
				<p>Desenvolvedor na PUC-RIO!</p>
			</div>
		</li>	
		<li>
			<div class="img_membro">
				<img src="http://www.gravatar.com/avatar/ab422a99ea0947d48d18ff7fbb8df3b5?s=200">
			</div>
			<div class="desc_membro">
				<h3>Robert Corrêa</h3>
				<p>Desenvolvedor na PUC-RIO!</p>
			</div>
		</li>	
	</ul>	
</section>
</article>

<div class="divider"></div>

<article>
	<section id="inscricao">
		<div class="control_line">
			<h2>Inscrição</h2>
		</div>
    <p id="inscription_error" class="error_msg">
      <%= @error_msg %>
    </p>
		<%= form_for(@participant) do |f| %>
			<div class="field control_line">
				<%= f.label :email %>
				<%= f.text_field :email, class: "inp", placeholder: "Informe seu e-mail..." %>
			</div>
			<div class="actions control_line">
				<button class="btn">Confirmar</button>
			</div>
			<div class="control_line">
        <%= link_to "Não posso ir, mas gostaria de saber sobre os próximos workshops", new_interest_path %>
			</div>
		<% end %>
	</section>
</article>

</div>

<footer>
	Este site foi desenvolvido por nós! <a href="https://github.com/xanwerneck">Alexandre Werneck</a> & <a href="https://github.com/HugoLnx/">Hugo Roque</a> & <a href="https://github.com/robertcorreas/"> Robert Corrêa </a>
</footer>
